button {
    width: 100%;
    border: none;
    border-radius: .5em;
    background-color: #ea4138;
    
    font-weight: 600;
    letter-spacing: .2vw;
    color: white;

    padding: 1em;
    margin: .2em;
}