h2 {    
    text-align: center;
}

.vehicle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vehicle img {
    width: 90vw;
}

.material, .specification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}