.question {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  min-height: 25vh;

  margin: 2em;
  padding: 1em;
  border-radius: 1em;

  color: white;
  background-size: cover;
}

.type {
  text-align: center;
}

.select {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  
  gap: 1em;
  margin: 2em;
}

.select .answer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;

  border: 5px solid #05192a;
  border-radius: 1em;
  color: #05192a;
}

.continue {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}
