.question {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  min-height: 25vh;

  margin: 2em;
  padding: 1em;
  border-radius: 1em;

  color: white;
}

.type {
  text-align: center;
}

.select {
  margin: 2em;
}

.select .answer {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 5px solid #05192a;
  color: #05192a;
}
