.quiz {
  height: 70vh;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 1em;
  border-radius: 1em;
}

.question-background {
  width: 100%;
  height: 100%;
  position: absolute;

  z-index: -1;
  background-size: cover;
  filter: brightness(.4);
}

.type {
  text-align: center;
}

.select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  gap: 1em;
  margin: 2em;
}

.select .answer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;  

  text-align: center;
  margin-bottom: 1vh;
  padding: 1em;

  border: 5px solid #05192a;
  border-radius: 1em;
}

.select p {
  margin: 0;
}

.continue {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.continue u {
  color: #05192a;
}

hr {
  width: 100%;
}
