.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 71vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 2em;
    margin-bottom: 2em;
}

form textarea {
    min-width: 60vw;
    max-width: 60vw;

    min-height: 20vh;
}

form input[type="button"] {
    height: 10vh;
    border: none;
    background-color: #ea4138;
    
    font-weight: 600;
    letter-spacing: .2vw;
    color: white;

    margin: .5em .2em .2em .2em;
}

.field-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.field-container label {
    color: white;
    font-size: 1.5em;
    align-self: flex-start;
}

.field-container input {
    height: 6vh;
    width: 60vw;

    font-size: 1.5em;
    border-radius: .5em;
}

.field-container select {    
    width: 60vw;
    max-height: 10vh;
    font-size: 1.5em;
    border-radius: .5em;
    overflow: scroll;
}

.field-container option {
    font-size: 1.5rem;
}

.field-container-inline {
    display: flex;
    align-items: baseline;
}

.field-container-inline label {
    color: white;
}
