body {
  margin: 0;
  font-family: "Teko", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 8vh;
}

h2 {
  font-size: 6vh;
}

h3 {
  font-size: 4vh;
}

p {
  font-size: 1.5em;
}

button {
  font-size: 1.2em;
}
