@font-face {
  font-family: "Nord";
  src: url("/src/assets/fonts/NORD-Medium.woff") format("woff");
  font-style: normal;
}


body {
  margin: 0;
  font-family: "Nord", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 8vh;
}

h2 {
  font-size: 6vh;
}

h3 {
  font-size: 4vh;
}

th {
  font-size: 4vh;
}

td {
  font-size: 3vh;
}

p {
  font-size: 1.5em;
}

button {
  font-size: 1.2em;
}
