#maintenance-box {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr;

    margin: 10vw;
    border: 3px solid #ff7a00;
    border-radius: 1em;
}

#maintenance-box h3 {
    grid-column: span 2;

    margin: 0;
    padding-left: .5em;
    color: white;
    background-color: #ff7a00;
}

#maintenance-box #text {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#maintenance-icon {
    display: flex;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
}