.window {
    position: fixed;
    display: flex;
    justify-content: center;

    top: 10vh;
    width: 100vw;

    z-index: 1;
}

.box {
    display: flex;
    justify-content: center;

    border-left: 1em solid #029902;
    ;
}