#start-video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
}

#start-video-intro {
    height: 100%;
    position: relative;
    z-index: 0;

    filter: blur(5px) brightness(.2);
}

#start-preview-text {
    position: absolute;
    z-index: 1;
    padding: .1em

    color: white;
    border: .35em solid #ea4138;
    border-radius: .5em;
}