#start-video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
}

#start-video-intro {
    height: 100%;
    position: relative;
    z-index: 0;

    filter: brightness(.4);
}

#start-preview-text {
    position: absolute;
    z-index: 1;

    opacity: 1;
}

.slide-in-left {
    animation: slideInFromLeft 1s ease-out 1s forwards;
}

.slide-in-right {
    animation: slideInFromRight 1s ease-out 2s forwards;
}
  
@keyframes slideInFromLeft {
0% {
    transform: translateX(-100%);
    opacity: 0;
}
100% {
    transform: translateX(0);
    opacity: 1;
}
}

@keyframes slideInFromRight {
0% {
    transform: translateX(100%);
    opacity: 0;
}
100% {
    transform: translateX(0);
    opacity: 1;
}
}