.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  min-height: 20vh;
  min-width: 20vh;
}

#route {
  position: absolute;

  width: 18vh;
  height: 18vh;

  border-radius: 50%;
  background-image: conic-gradient(
    /*180deg means flipped, but taking 200deg provides some style (20deg space)*/
      from 200deg,
    #000000 320deg,
    /*apply style balanced*/ transparent 20deg
  );
}

#bar {
  position: absolute;

  width: 18vh;
  height: 18vh;

  border-radius: 50%;
  background-image: conic-gradient(
    /*180deg means flipped, but taking 200deg provides some style (20deg space)*/
      from 200deg,
    #ea4138 180deg,
    /*apply style balanced*/ transparent 20deg
  );
}

#circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  width: 16vh;
  height: 16vh;

  border-radius: 50%;
  background-color: white;
}
