table {
    width: 90vw;
}

th {
    position: relative;
    left: .5em;

    text-align: left;
    font-size: 3vh;
}

td {
    text-align: center;
    font-size: 2.5vh;
}

table, th, td {
    border: 2px solid #05192a;
    border-collapse: collapse;
  }

#tr-head {
    color: white;
    background-color: #05192a;
}